<ion-view view-title="{{event.title}}">
  <ion-content class="padding">
    <div>
      <div class="">
        <button class="button button-positive icon-left ion-share" ng-click="sendEmail(event)">Share Link</button>
        <h3>
          <small ng-show="event.max === 150">please daven for</small><small ng-show="event.max === 40">please take challah for</small><br />
          {{event.name}}<br />
          <small>posted by {{event.createdBy}}
            <span title="{{event.created | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a'}}" am-time-ago="event.created"></span>
          </small>
        </h3>
      </div>
      <p class="lead" ng-show="event.description">{{event.description}}</p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{event.percent}}" aria-valuemin="0" aria-valuemax="100"  style="min-width: 2em; width: {{event.percent}}%;">
          {{event.percent}}%
        </div>
      </div>
      <hr />
      <div ng-hide="isLoggedIn()">
        <h4>Please <a href="/#/register">Register</a> or  <a href="/#/login">Log In</a> before you can make a selection. It only takes a second. Seriously.</h4>
      </div>

      <div ng-show="error" class="alert alert-{{error.class}} row">
        <span>{{error.message}}</span>
      </div>

      <div>
        <div ng-show="event.max === 150">
          <h4>Select a kapitel(chapter) of Tehillim based on the number. 1 = Aleph.</h4>
        </div>
        <div ng-show="event.max === 40">
          <h4>Select a number to join the group of 40.</h4>
        </div>
      </div>
      <label class="item item-input item-select">
        <span class="input-label">Filter</span>
        <select ng-options="option for option in listOfOptions"
                ng-init="selectedItem = listOfOptions[0]"
                ng-model="selectedItem"
                ng-change="selectedItemChanged()">
        </select>
      </label>
      <br />
      <div class="list">
        <div class="item item-icon-left item-icon-right" ng-repeat="kap in kapitels | orderBy: order">
          <i class="icon ion-checkmark-circled" ng-hide="kap.isFlipped" ng-click="addAssignment(kap)"></i>
          <i class="icon ion-close-circled" ng-show="kap.takenBy && currentUser() == kap.takenBy" ng-click="deleteAssignment(kap)"></i>
          <strong>{{kap.name}}</strong><span ng-show="kap.isFlipped"> - taken by {{kap.takenBy}}</span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
