<ion-view view-title="Login">
  <ion-content class="padding">
	  <div ng-show="error" class="alert alert-{{error.class}} row">
	    <span>{{error.message}}</span>
	  </div>

	  <form ng-submit="logIn()">
	    <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Username</span>
          <input type="text" placeholder="mkarmel" ng-model="user.username"></input>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Password</span>
          <input type="password" placeholder="********" ng-model="user.password"></input>
        </label>
        <button type="submit" class="button button-full button-positive">Log In</button>
	    </div>
      <p class="lead">If you select a kapitel(chapter) of Tehillim, it is assumed that you will finish it by shkia(sunset) of today.</p>
  	  <p class="lead">If you are doing Hafrashas(separating) Challah, it is assumed that you will finish it by shkia(sunset) of the upcoming Friday.</p>
	  </form>

  </ion-content>
</ion-view>
