<ion-view view-title="Posts">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" 
      ng-repeat="event in events | orderBy: '-event.created'" type="item-text-wrap" href="#/browse/{{event._id}}">
        <h2>{{event.title}}</h2>
        <p>{{event.percent}}% complete. Can you help?</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
